<% include ./partials/header %>
    <link rel="stylesheet" href="/css/home.css">
    <div class="container">
        <h1 id="welcome">Welcome</h1>
    </div>
    <hr>
    <h4 class="center">This is just a brief story of the things I have done, and where I want to go next.</h4>

    <% include ./partials/footer %>