<div id="footer" class="container">
    <p>
        <a href="/about">Who I am </a>
    </p>
    <p> || </p>
    <p>
        <a href="/portfolio"> What I've done </a>
    </p>
    <p> || </p>
    <p>
        <a href="/contact"> Get in touch</a>
    </p>
</div>
<div class="center">
    <p>Gerardo Fernandez, 2018</p>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E="
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>

</body>

</html>