<!DOCUMENT html>
<html>

<head>
    <title>GF</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Marck+Script|Philosopher:400,700" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">

</head>

<body>
    <div class="wrapper">
        <ul>
            <li>
                <a class="icon" href="https://github.com/Gerardofer" target="_blank">
                    <i class="fa fa-github" aria-hidden="true"></i>
                </a>
            </li>
            <li>
                <a class="icon" href="https://www.linkedin.com/in/gerardo-fernandez-3033263b/" target="_blank">
                    <i class="fa fa-linkedin" aria-hidden="true"></i>
                </a>
            </li>
            <li>
                <a class="icon" href="https://stackoverflow.com/users/8629662/gerardo-fernandez" target="_blank">
                    <i class="fa fa-stack-overflow" aria-hidden="true"></i>
                </a>
            </li>
            <li>
                <a class="icon" href="https://twitter.com/gerardofer" target="_blank">
                    <i class="fa fa-twitter" aria-hidden="true"></i>
                </a>
            </li>
            <li>
                <a class="icon" href="/home">
                    <i class="fa fa-home" aria-hidden="true"></i>
                </a>
            </li>
        </ul>
    </div>