<% include ./partials/header %>
    <link rel="stylesheet" href="/css/about.css">

    <div class="container">
        <h1>A little about myself...</h1>
        <div class="row">
            <div class="col s4 push-s8">
                <img src="./images/Gerardo_Fernandez_1.jpg" alt="">
            </div>
            <div class="col s8 pull-s4">
                <p>This is paragraph about myself, things I have done and how I have gotten there. Also of things where I want
                    to go next with this crazy new idea!!!!</p>
            </div>
        </div>
    </div>

    <% include ./partials/footer %>