.container {
  margin-top: 6%;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

.container p {
  margin: 0 5px 0 5px;
}

#footer {
  margin-top: 30px;
}

.fa {
  font-size: 2.5rem;
  margin: 6px 6px;
  color: #00000041;
  transition: 0.15s;
}

div.wrapper {
  margin-left: 5%;
  margin-top: 2%;
  position: fixed;
}

.fa:hover {
  color: rgba(0, 0, 0, 0.685);
  transition: 0.15s;
}

a {
  text-decoration: none;
  color: black;
}

.container p {
  font-size: 1.5rem;
}

.center p {
  margin-top: 15%;
  font-size: 11px;
}

.wrapper li {
  margin-bottom: 0;
}

@media screen and (max-height: 450px) {
  div.wrapper {
    margin: 0;
    position: relative;
  }
}
